body{
    background: #F4CCE9;
    font-family: 'Times New Roman', Times, serif;
}

.profileheader{

    color: #56021F;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    border: 10px white dotted;
    text-align: center;
    width: fit-content;
  
}

.subheading{
    color: #7D1C4A;
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
    border-style:inset;
    width: fit-content;
}

.image{
    width: 200px;
    border-color: #D17D98;
    border-image: round;
    image-orientation: flip;
    
}